vim_files/pack
vim_files/plugin
vim_files/.*
vim_files/lazy-lock.json
zsh_files/.zsh_history
nu_files/history.txt
.zsh_history
emacs_files/auto-save-list/
emacs_files/eln-cache/
emacs_files/elpa/
**/__pycache__
scripts/launchers/__pycache__/

