input {
    keyboard {
        xkb {
            layout "us"
        }
        numlock
    }

    touchpad {
        tap
    }

    mouse {
         //natural-scroll
    }

}

output "eDP-1" {
    mode "1920x1080@60"
    scale 1
    transform "normal"
}

output "DP-2" {
    mode "1920x1080@60"
    scale 1
    transform "normal"
}

layout {
    gaps 10
    center-focused-column "never"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        width 2
        active-color "#f9e2af"
        inactive-color "#89b4fa"
    }

    border {
        off
        width 4
        active-color "#ffc87f"
        inactive-color "#505050"
        urgent-color "#9b0000"
    }

    shadow {
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }

    struts {
    }
}

spawn-at-startup "qs" "-c" "noctalia-shell"
spawn-sh-at-startup "wl-paste --type text --watch cliphist store"
spawn-sh-at-startup "wl-paste --type image --watch cliphist store"
hotkey-overlay {
}

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
animations {
}


window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
}

window-rule {
    match title="^launcher$"
    open-floating true
    default-column-width { fixed 1200; }
}


binds {
    Alt+Return hotkey-overlay-title="Open a Terminal: ghostty" { spawn "ghostty"; }

    XF86AudioRaiseVolume  { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%+"; }
    XF86AudioLowerVolume  { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%-"; }
    XF86AudioMute         { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute      { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    XF86MonBrightnessUp   { spawn "brightnessctl" "set" "10%+"; }
    XF86MonBrightnessDown { spawn "brightnessctl" "set" "10%-"; }
    Alt+P { spawn-sh "ghostty --title=launcher -e $HOME/git_projects/dot_files/scripts/launcher.py apps"; }
    Alt+C { spawn-sh "ghostty --title=launcher -e $HOME/git_projects/dot_files/scripts/launcher.py clipboard"; }

    Alt+Q repeat=false { close-window; }
    Alt+Shift+Q { quit; }

    Alt+H    { focus-column-left; }
    Alt+L     { focus-column-right; }
    Alt+Shift+H     { move-column-left; }
    Alt+Shift+L     { move-column-right; }
    Alt+F { maximize-column; }
    Alt+V       { toggle-window-floating; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }


}
